/** MAIN STUFF **/
html{
    --background:#FFFEFF;
    --background-button:#FFFEFF;
    --background-popup:#444140aa;
    --text:#444140;
    --bad:#FFA987;
    --good:#A5FFD6;
    --good-dark:#21B271;
    --spacing:30px;
    
    --shadow:0 3px 10px #44414040;
}
/** UPDATED with dark mode **/
html[mode=dark], html[mode=black]{
    --background:#111;
    --background-button:#222;
    --text:#ddd;
    
    --good:#222;
    --good-dark:#A5FFD6;
    
    
    --shadow:0 0 0 1px #111;
}
html[mode=black]{
    --background:black;
    --background-button:black;
    --background-popup:#000d;
        
    
    --good:black;
    
    
    --shadow:0 0 0 1px #ddd;
    
}
/** RESETS **/
html, body, .list, .list > * > p, .popupMenu ul{
    margin:0;
    padding:0;
}
/** FONTS **/
html, body, input, button, select, .fitCircle *{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    outline:none;
    font-size: 20px;
    color:var(--text);
    background:var(--background);
}
.textLarge, .circleBack:before, .fitCircle{
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: var(--spacing);
}
.list > * > p:not(:first-of-type), .list > * > p > span:last-of-type, .popup form label span{
    font-size:12px;
}
/** MAIN CLASSES **/
.noselect{
    user-select: none;
}
.overlay{
    position: relative;
    z-index: 2;
}
html .bad, .status1{
    color:var(--bad);
}
html .good, .status2{
    color:var(--good-dark);
}
/** HEADING **/
heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:var(--spacing);
    padding-bottom: 0;
}
heading section{
    text-align: center;
}
heading section:last-of-type{
    text-align: right;
}
heading section a:not(:first-child){
    margin-left: var(--spacing);
}
heading section a{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
/** SECTIONS **/
article{
    padding:var(--spacing);
    position: relative;
}
/** BUTTONS **/
.circleButton, button{
    display:flex;
    box-shadow: var(--shadow);
    min-width:calc(var(--spacing) * 2);
    height:calc(var(--spacing) * 2);
    justify-content:center;
    align-items:center;
    border-radius:100px;
    color:var(--good-dark);
    background:var(--background-button);
    z-index: 3;
    border:none;
}
button{
    padding:0 calc(var(--spacing) / 2);
    box-sizing: border-box;
}
.circleButton.floatRight{
    position:absolute;
    top:var(--spacing);
    right:var(--spacing);
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    width:calc(var(--spacing) * 8);
    margin-left: auto;
}
.fitCircle{
    width:calc(8ch);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
/** LISTS **/
.list > *{
    list-style:none;
}
.list > *:not(:last-child):after{
    content:'';
    display: block;
    height:1px;
    background:var(--text);
    margin:var(--spacing) 0;
}
.list > * > p{
    display: flex;
    justify-content: space-between;
}
/** HOURS **/
.circleBack:before{
    position:absolute;
    left:0;
    top:0;
    content: '';
    width:calc(8ch + var(--spacing) * 2);
    height:calc(8ch + var(--spacing) * 2);
    background:var(--good);
    border-radius: 100%;
}
.circleBack h1{
    margin-bottom: 0;
}
.fitCircle *{
    background: transparent;
}
#entryNote{
    margin:0 0 var(--spacing) 0;
    padding-bottom:var(--spacing);
    border-bottom: 1px solid var(--text);
    font-family: inherit;
    font-size: inherit;
}
/** PUPUPS **/
.popup, #loadingCover{
    display: none;
    position: fixed;
    background:var(--background-popup);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:4;
    align-items: center;
}
.popup > *, #loadingCover > *{
    margin:var(--spacing);
    padding:var(--spacing);
    background:var(--background);
    border-radius:var(--spacing);
    box-shadow: var(--shadow);
    flex-grow: 1;
    max-height: calc(100vh - var(--spacing) * 2);
    overflow-y: auto;
    box-sizing: border-box;
}
.popup form label{
    display: block;
    position: relative;
    margin-top:var(--spacing);
}
.popup form label :not(span){
    display: block;
    width:100%;
    box-sizing: border-box;
    border:1px solid var(--text);
    height:calc(var(--spacing) * 1.5);
    line-height:var(--sapcing);
    padding:0 calc(var(--spacing) / 2);
    border-radius:100px;
}
.popup form label span{
    position: absolute;
    top:calc(-1em / 2);
    left:calc(var(--spacing) - 1ch);
    border: none;
    width: auto;
    display: inline-block;
    background:var(--background);
    padding:0 1ch;
}
.popup form .buttonArea{
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing);
}
.popupMenu{
    display: none;
    position: absolute;
    width: auto;
    background:var(--background);
    box-shadow: var(--shadow);
    z-index:3;
}
.popupMenu li{
    list-style: none;
}
.popupMenu li, .popupMenu ul{
    padding:calc(var(--spacing) / 4);
}
.popupMenu.show{
    display: block;
}
/** LOADING COVER **/
#loadingCover{
    display: flex;
    text-align: center;
}
#loadingCover span{
    display: inline-block;
    width:25px; 
    height:25px; 
    background: currentColor;
    margin:5px; 
    position: relative;
}
#loadingCover span:before, #loadingCover span:after{
    content:''; 
    width:5px; 
    background:var(--background);
    position:absolute; 
    top:10px; 
    left:5px;
    transform:rotate(-45deg); 
    transform-origin:top center;
    animation:drawFirstLine 3s 1s infinite;
}
#loadingCover span:after{
    transform:rotate(-135deg); 
    left:9px; 
    top:17px;
    animation:drawLastLine 3s 1s infinite;
}
#loadingCover span:first-of-type:before, #loadingCover span:first-of-type:after{
    animation-delay: 0s;
}
#loadingCover span:last-of-type:before, #loadingCover span:last-of-type:after{
    animation-delay: 2s;
}
@keyframes drawLastLine{
    50%{ height:0 }
    75%,to{ height:20px }
}
@keyframes drawFirstLine{
    25%{ height:0 }
    50%,to{ height:10px }
}